/*
  simpleUI-colour.css is a customizeable colour module to the framework made by Mikkel Bengtsen

  Created under the MIT License.
*/

.white,
.hover-white:hover {
    color: #484848;
    background-color: #fff!important
}
.text-white,
.hover-text-white:hover {
    color: #fff!important
}
.border-white,
.hover-border-white:hover {
    border-color: #fff!important
}

.gray,
.hover-gray:hover {
    color: #484848;
    background-color: #dfdcc3!important
}
.text-gray,
.hover-text-gray:hover {
    color: #dfdcc3!important
}
.border-gray,
.hover-border-gray:hover {
    border-color: #dfdcc3!important
}

.gray-dark,
.hover-gray-dark:hover {
    color: #fff;
    background-color: #484848!important
}
.text-gray-dark,
.hover-text-gray-dark:hover {
    color: #484848!important
}
.border-gray-dark,
.hover-border-gray-dark:hover {
    border-color: #484848!important
}
.gray-dark-opacity,
.hover-gray-dark-opacity:hover {
    color: #fff;
    background-color: rgb(72, 72, 72)!important;
    background-color: rgba(72, 72, 72, 0.45)!important
}

.green,
.hover-green:hover {
    color: #fff;
    background-color: #4abdac!important
}
.text-green,
.hover-text-green:hover {
    color: #4abdac!important
}
.border-green,
.hover-border-green:hover {
    border-color: #4abdac!important
}

.red,
.hover-red:hover {
    color: #fff;
    background-color: #fc4a1a!important
}
.text-red,
.hover-text-red:hover {
    color: #fc4a1a!important
}
.border-red,
.hover-border-red:hover {
    border-color: #fc4a1a!important
}

.yellow,
.hover-yellow:hover {
    color: #fff;
    background-color: #f7b733!important
}
.text-yellow,
.hover-text-yellow:hover {
    color: #f7b733!important
}
.border-yellow,
.hover-border-yellow:hover {
    border-color: #f7b733!important
}
